.container
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-self: center;
    
    align-items: center;
    margin:auto;
    width: 450px;
    height: 650px;
    border: 1px solid black;
}

.Image
{
    width: 100%;
    height: 75%;
    border-bottom: 2px solid green;
}
.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.b1,.b2
{
    background-color:transparent; /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    
}
.b11,.b22{
margin: 10px 20px;
}
.b1:hover,.b2:hover
{
cursor: pointer;
}
.b1{
    border: 2px solid red;
    color: red;
}
.b2{
    border: 2px solid green;
    color: green;
}
.user-image
{
    width: 100%;
    height:100%
}
.user-details
{
    width:100%;
    height: 15%;
}
